{% extends "base.twig" %}

{% block content %}
    <div class="content-wrapper coach-archive">
        <div class="container">
            <div class="breadcrumbs-wrap">
                <div class="breadcrumb-content">
                    <a href="#">Home</a> >
                    <span class="last-breadcrumb">Coaches</span>
                </div>
            </div>
            <h1 class="article-h1">Our coaches</h1>
            <div class="filter-wrap">
                Filter:
                <select name="" id="filter-type">
                    <option value=""></option>
                    {% for term in type %}
                        <option value="{{term.slug}}">{{term}}</option>
                    {% endfor %}
                </select>
                <select name="" id="filter-loc">
                    <option value=""></option>
                    {% for term in loc %}
                        <option value="{{term.slug}}">{{term}}</option>
                    {% endfor %}
                </select>
                <input type="text" value="" id="search-coach" placeholder="Search">
            </div>

            <div class="items-wrap">
                <div class="row">
                    {% for post in posts %}
                        <div class="col-md-3 coach-item-wrap fl-{{post.terms('type')[0].slug}} fl-{{ post.terms('loc')[0].slug }}"
                             data-type="{{post.terms('type')[0].slug}}"
                             data-loc="{{ post.terms('loc')[0].slug }}"
                            data-name="{{ post.get_field('name') }}">
                            <div class="coach-item">
                                <div class="img-wrap">
                                    <img src="{{ post.get_field('avatar').url }}" alt="">
                                    <div class="coach-link">
                                        <a href="{{ post.link }}">Read More</a>
                                    </div>
                                    <div class="coach-item-name">{{ post.get_field('name') }}</div>
                                </div>
                                <div class="coach-item-type">
                                    <span>{{post.terms('type')[0]}}</span>
                                </div>
                                <div class="coach-item-loc">
                                    <span>{{ post.terms('loc')[0] }}</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}