{% block html_head_container %}

	{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		<header class="header" >
			{% block header %}
				<div class="wrapper">
					<nav id="nav-top" class="nav-top" role="navigation">
                        <div class="container">
                            {% include "menu.twig" with {'menu': menu_top.get_items} %}
                        </div>
					</nav><!-- #nav -->
                    <div class="container">
                        <div class="header-left">
                            <a class="hdr-logo-link" href="{{site.url}}" rel="home"><img src="{{ function('get_template_directory_uri') }}/images/logo.png" alt=""></a>
                            <nav id="nav-primary" class="nav-primary" role="navigation">
                                {% include "menu.twig" with {'menu': menu_primary.get_items} %}
                            </nav><!-- #nav -->
                        </div>
                        <div class="header-right">
                            <nav id="nav-secondary" class="nav-secondary" role="navigation">
                                {% include "menu.twig" with {'menu': menu_secondary.get_items} %}
                            </nav><!-- #nav -->
                        </div>
                        <div class="clear"></div>
                    </div>
				</div>
			{% endblock %}
		</header>

		<section id="content" role="main" class="content-wrapper">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
		</section>

		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
