{% extends "base.twig" %}
{% block content %}
    <div class="content-wrapper coach-content">
        <div class="coach-head" style="background: url('{{ post.thumbnail.src }}') center center;background-size:cover;">
            <div class="coach-excerpt-wrap">
                <div class="coach-avatar">
                    <img src="{{ fields.avatar.url }}" alt="">
                </div>
                <div class="coach-excerpt">
                    <div class="excerpt-text">
                        {{ fields.short_description }}
                    </div>
                    <ul class="tag-list">
                        {% for term in post.terms('type') %}
                            <li><a href="{{term.link}}">{{term.name}}</a></li>
                        {% endfor %}
                    </ul>
                    <span class="coach-name">
                        {{ fields.name }}
                    </span>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
            <div class="container">
                <div class="breadcrumbs-wrap">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="breadcrumb-content">
                                <a href="#">Home</a> >
                                <a href="#">Coaches</a> >
                                <span class="last-breadcrumb">{{ fields.name }}</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <a href="mailto:{{fields.email}}" class="coach-email"><i class="fa fa-envelope-o" aria-hidden="true"></i> {{fields.email}}</a>
                            <a href="tel:{{ fields.phone}}" class="coach-tel"><i class="fa fa-phone" aria-hidden="true"></i> Bel {{ fields.phone}}</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <section class="article-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="content-entry">
                                <h1 class="article-h1">{{ post.title }}</h1>
                                <div class="coach-type-loc">
                                    {% for term in post.terms('type') %}
                                        {{term.name}}
                                    {% endfor %}

                                    {% for term in post.terms('loc') %}
                                        {{term.name}}
                                    {% endfor %}
                                </div>
                                {#<p class="blog-author"><span>By</span> {{ post.author.name }} <span>&bull;</span> {{ post.post_date|date }}</p>#}
                                {{ post.content }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="owl-carousel coach-slider">
                                {% for slide in fields.slider %}
                                    <div class="slide-item">
                                        <img src="{{slide.image.url}}" alt="" class="slide-img">
                                        <div class="slide-title">{{ slide.title }}</div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="info-block">
                        {{ fields.info_block }}
                    </div>
                    {% for content in fields.two_column_content %}
                        <div class="two-column-wrap">
                            <div class="row">
                                <div class="col-md-6">
                                    <h1 class="article-h1">{{ content.first_title }}</h1>
                                    <div class="column-content">{{ content.first_content }}</div>
                                </div>
                                <div class="col-md-6">
                                    <h1 class="article-h1">{{ content.second_title }}</h1>
                                    <div class="column-content">{{ content.second_content }}</div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </section>
                <section class="contacts-wrap">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="coach-contacts">
                                <h2>Contacts</h2>
                                <table>
                                    <tr>
                                        <td>Phone: </td>
                                        <td><a href="tel:{{ fields.phone}}" class="coach-tel">{{ fields.phone }}</a></td>
                                    </tr>
                                    <tr>
                                        <td>Email: </td>
                                        <td><a href="mailto:{{fields.email}}" class="coach-email">{{fields.email}}</a></td>
                                    </tr>
                                    <tr>
                                        <td>Address: </td>
                                        <td>
                                            {% for term in post.terms('loc') %}
                                                {{term.name}}
                                            {% endfor %}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="social-links-wrap">
                                <h2>Social links</h2>
                                <div class="social-links">
                                    {% if fields.twitter_link %}
                                        <a href="{{ fields.twitter_link }}" class="link-item"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    {% endif %}
                                    {% if fields.facebook_link %}
                                        <a href="{{ fields.facebook_link }}" class="link-item"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    {% endif %}
                                    {% if fields.linkedin_link %}
                                        <a href="{{ fields.linkedin_link }}" class="link-item"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="coach-resume">
                                <img src="{{ fields.avatar.url }}" alt="" class="circle-avatar">
                                <div class="coach-name">{{ fields.name }}</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="contact-form-wrap">
                                <form action="" id="contact-form">
                                    <h2 class="form-title">Contact form</h2>
                                    <div class="form-response"></div>
                                    <input type="text" name="name" class="name" placeholder="Name">
                                    <input type="email" name="email" class="email" placeholder="Email">
                                    <input type="hidden" name="clicked" class="clicked" value="1">
                                    <textarea name="message" placeholder="Message"></textarea>
                                    <div class="row">
                                        <div class="col-md-6"></div>
                                        <div class="col-md-6"><input type="submit" class="submit-form-btn"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="workshop-section">
                    <h2 class="ws-title">Workshop</h2>
                    <div class="workshop-wrap">
                        <div class="row">
                            {% for item in fields.workshop %}
                                <div class="col-md-3">
                                    <div class="ws-item">
                                        <div class="w-date">{{ item.date }}</div>
                                        <div class="w-text">{{ item.text }}</div>
                                        {% if item.info %}
                                            <div class="w-info">({{ item.info }})</div>
                                        {% endif %}
                                        <a href="{{ item.link }}" class="w-link">Link</a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>
                <section class="blog-section">
                    <h2 class="blog-title">Blog</h2>
                    <div class="row">
                        {% for item in fields.blog %}
                        <div class="col-md-3">
                            {% if item.image %}
                                <div class="blog-item blog-has-img">
                                    <img src="{{ item.image.url }}" alt="" class="img-blog">
                            {% else %}
                                <div class="blog-item blog-no-img">
                            {% endif %}
                                <div class="blog-entry">
                                    {% if item.title %}
                                        <div class="blog-item-title">{{ item.title }}</div>
                                    {% endif %}
                                    {% if item.text %}
                                        <div class="blog-text">{{ item.text }}</div>
                                    {% endif %}
                                    <div class="blog-date-name">
                                        <div class="blog-date">{{ item.date }}</div>
                                        <div class="blog-name">{{ item.name }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </section>
            </div>
        </article>
    </div> <!-- /content-wrapper -->
{% endblock %}
