@import 'variables';

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}
img {
  max-width: 100%;
}

a {
  color: $activeColor;
  &:hover {
    color: darken($activeColor, 10);
    transition: color .6s;
  }
}

.clear {
  clear: both;
}
.header-left {
  float: left;
}
.header-right {
  float: right;
}

.nav-top {
  border-bottom: 1px solid rgba(238, 238, 238, 0.75);
  height: 52px;
  ul {
    list-style: none;
    text-align: right;
    li {
      display: inline-block;
      text-transform: uppercase;
      a {
        font-size: 14px;
        height: 52px;
        padding: 14px 0 11px 0;
        margin: 0 12px;
        display: block;
        color: #333;
        text-decoration: none;
        &:hover {
          color: $activeColor;
          border-bottom: 2px solid $activeColor;
        }
      }
    }
  }
}

.hdr-logo-link {
  display: block;
  float: left;
}
.nav-primary,
.nav-secondary {
  display: block;
  float: left;
  padding: 30px 0 0 30px;
  position: relative;
  ul > li > ul {
    display: none;
    position: absolute;
    z-index: 10;
    //padding-top: 20px;
    background: #f9f9f9;
    padding: 10px;
    max-width: 250px;
    width: auto;
    li {
      margin: 0;
    }
  }
  ul {
    list-style-type: none;
    padding-bottom: 15px;
    & > li {
      display: inline-block;
      margin: 0 20px;
      //padding-bottom: 10px;
      a {
        text-transform: uppercase;
        color: #000;
      }
      &:hover ul {
        display: block;
      }
    }
  }
}


.breadcrumbs-wrap {
  padding: 8px 0;
  border-bottom: 1px solid #b5b5b5;
  .breadcrumb-content {
    margin-top: 8px;
    a {
      color: #333;
    }
    .last-breadcrumb {
      color: #000;
    }
    margin-bottom: 0;
  }
  .coach-email,
  .coach-tel {
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    padding: 7px 10px;
    display: inline-block;
    margin-right: 15px;
  }
  .coach-email {
    background: $activeColor;
  }
  .coach-tel {
    background: $primaryBtnColor;
  }
}

.article-h1 {
  font-size: 20px;
}

.coach-content {
  .coach-head {
    padding: 80px 0;
  }
  .coach-excerpt-wrap {
    background: #fff;
    width: 600px;
    margin: 0 auto;
    padding: 5px;
    .coach-avatar {
      float: left;
      margin-right: 15px;
    }
    .coach-excerpt {
      padding: 15px;
      //float: left;
    }
    .excerpt-text {
      margin-bottom: 10px;
      font-size: 16px;
    }
    .tag-list {
      list-style-type: none;
      display: inline-block;
      margin-right: 10px;
      li {
        display: inline-block;
        margin-right: 10px;
        a {
          background: $primaryBtnColor;
          color: #fff;
          padding: 5px 10px;
        }
      }
    }
  }
  article {
    background: #f7f2eb;
  }
  .coach-type-loc {
    font-weight: 700;
    margin-bottom: 20px;
  }
  .coach-slider {
    margin-top: 30px;
    position: relative;
    .slide-img {
      height: 300px;
    }
    .owl-nav {

    }
    .owl-prev,
    .owl-next {
      position: absolute;
      top: 50%;
      color: #fff;
      background: #333;
      width: 30px;
      height: 30px;
      border-radius: 15px;
      text-align: center;
      line-height: 30px;
      margin-top: -15px;
    }
    .owl-prev {
      left: -15px;
    }
    .owl-next {
      right: -15px;
    }
    .slide-title {
      margin-top: 15px;
      color: #666;
    }
  }
  .article-content {
    margin-bottom: 30px;
  }

  .info-block {
    background: #fff;
    padding: 15px 15px 5px;
    margin-bottom: 10px;
    margin-top: 30px;
  }
  .two-column-wrap {
    padding-top: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
    ul {
      list-style: none;
      padding-left: 20px;
      li:before {
        content: "\f0c8";
        font-family: FontAwesome;
        display: inline-block;
        margin-left: -1.3em;
        width: 1.3em;
        font-size: 8px;
        color: $activeColor;
      }
    }
  }
  .contacts-wrap {
    margin-bottom: 30px;
    h2 {
      font-size: 14px;
      font-weight: 700;
    }
    input[type="email"],
    input[type="text"],
    textarea {
      border: none;
      display: block;
      width: 100%;
      padding: 8px;
      margin-bottom: 10px;
      box-shadow: inset 1px 1px 5px 0px rgba(0,0,0,0.2);
    }
    textarea {
      min-height: 170px;
    }
    .submit-form-btn {
      background: $activeColor;
      color: #fff;
      font-weight: 700;
      border: none;
      padding: 8px;
      width: 100%;
      &:hover {
        background: darken($activeColor, 10);
        transition: background .6s;
      }
    }
  }
  .coach-contacts {
    td {
      padding: 2px 10px 2px 0;
    }
    a {
      color: #333;
    }
  }
  .social-links {
    .link-item {
      text-align: center;
      line-height:30px;
      border-radius: 15px;
      color: #fff;
      background: #333;
      width: 30px;
      height: 30px;
      display: inline-block;
    }
  }
  .coach-resume {
    margin-top: 20px;
  }
  .circle-avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
  .coach-name {
    display: inline-block;
    font-style: italic;
    margin-left: 20px;
  }

  .workshop-section {
    .ws-title {
      font-weight: 700;
      text-transform: uppercase;
      font-size: 20px;
    }
  }

  .workshop-wrap {
    background: #94dee9;
    border: 1px solid #cdcdcd;
    padding: 15px;
    margin-bottom: 30px;
    .ws-item {
      border-right: 1px solid #b5b5b5;
      margin-bottom: 30px;
      .w-date {
        text-transform: uppercase;
        font-weight: 700;
      }
      .w-text {
        font-weight: 700;
      }
      .w-link {
        background: $activeColor;
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        border: none;
        padding: 8px 14px;
        margin-top: 15px;
        width: auto;
        text-align: center;
        display: inline-block;
        &:hover {
          background: darken($activeColor, 10);
          transition: background .6s;
        }
      }
    }
  }
  .blog-section {
    margin-bottom: 80px;
    .blog-title {
      font-weight: 700;
      text-transform: uppercase;
      font-size: 20px;
    }
    .blog-item {
      .blog-item-title {
        font-weight: 700;
      }
      .blog-text {
        font-weight: 700;
      }
      .blog-date {
        display: inline-block;
        margin-right: 20px;
      }
      .blog-name {
        display: inline-block;
      }
    }
    .blog-has-img {
      position: relative;
      .img-blog {
        width: 100%;
      }
      .blog-entry {
        position: absolute;
        width: 100%;
        bottom: 0;
        background: rgba(0, 0, 0, 0.24);
        color: #fff;
        padding: 10px;
      }
    }
    .blog-no-img {
      background: #fff;
      padding: 10px;
      .blog-item-title {
        color: $activeColor;
      }
    }
  }

  .form-response {
    padding: 8px 15px;
    &.error-f {
      border: 2px solid #a50000;
      margin-bottom: 10px;
    }
    &.success-f {
      margin-bottom: 10px;
      border: 2px solid #006800;
    }
  }
}

.coach-archive {
  background: #f7f2eb;
  .items-wrap {
    padding-top: 30px;
    padding-bottom: 30px;
    .coach-item {
      padding: 8px;
      background: #fff;
    }
    .img-wrap {
      height: 160px;
      overflow-y: hidden;
      position: relative;
      margin-bottom: 10px;
      .coach-item-name {
        position: absolute;
        bottom: 0;
        width: 100%;
        color: #fff;
        padding: 8px;
        font-weight: 700;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0))
      }
      img {
        min-height: 160px;
        width: 100%;
      }
      .coach-link {
        background: rgba(0, 0, 0, 0.46);
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        a {
          display: inline-block;
          background: $primaryBtnColor;
          padding: 8px;
          margin: 62px auto;
          color: #fff;
          font-weight: 700;
        }
      }
    }
    .coach-item-type {
      display: inline-block;
      background: $primaryBtnColor;
      padding: 4px;
      color: #fff;
      font-weight: 700;
      margin-right: 10px;
    }
    .coach-item-loc {
      display: inline-block;
    }
  }
  .filter-wrap {
    select,
    input {
      background: #fff;
      height: 36px;
      padding: 0 8px;
    }
  }
}

.footer {
  background: #333;
  color: #ccc;
  padding: 40px 0;
}